.div-content-header .mainHeading {
    background-color: transparent;
}
 
@media only screen and (max-width: 756px) {
    .div-content-header {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .table-options{
        margin-top: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    } 

    .tableInput {
        margin: 14px 0px;    
        border-radius: 0px;
    }

    .pagination{
        margin-bottom: 14px; 
    }

    .div-options-value select {
        margin-top: 14px;
    }

    .div-options-value {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .footer-pagination {
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow-x: auto;
    }

    .mainHeading {
        background-color: transparent;
    }

    #sideMenuBtn ~ div {
        left: -100%;
    }

    #sideMenuBtn:checked ~ div {
        left: 0%;
    }

    .tableContents .smHeading {
        text-align: center;
        margin-top: 14px;
    }

    .content-add {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .left-side-menu {
        padding-top: 14px;
        width: 100%;
        max-width: 100% !important;
        display: grid;
        grid-template-columns: auto auto;
    }

    .row-container-treatment {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .main-right-container ,
    .row-container-treatment > div {
        max-width: 100%; 
    }

    .row-container-treatment {
        padding: 0px;
        margin: 0px;
    }
}