.table-loading {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #a3a6b4;
}

.no-table-data {
  margin-top: 25px;
  color: #a3a6b4;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.large-tb-icon {
  color: #f5f6fa;
  font-size: 50px;
}

.td-item-center {
  text-align: left !important;
}

.td-item-center i:hover {
  transition: 0.4s;
  color: red;
  transform: scale(1.5);
}

.td-item-center i:active {
  transition: scale(0);
}
